* {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
  overflow: hidden;
}

canvas {
  display: block;
}

#shaderObject {
  position: fixed;
}

a {
  color: rgb(255, 255, 255);
}

a:hover {
  color: rgb(255, 120, 100);
}

/*GENERAL STYLING*/
#indexBody {
  background-color: black;
}

#container {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  padding: 100px;

  font-family: "Space Grotesk", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  color: white;
}

#contentFlex {
  display: flex;
  flex-direction: column;
  width: calc(100% - 500px);
  height: 100%;
  position: relative;
}

#tabs {
  position: relative;
  width: 100%;
  height: 100%;
  margin: 2px 0 0 0;
  color: black;
  font-size: 11pt;
  font-weight: 300;
}

#contentHeadings {
  position: relative;
  width: 500px;
}

@media screen and (max-width: 1399px) {
  #contentHeadings {
    width: 400px;
  }
  #contentFlex {
    width: calc(100% - 400px);
  }
}

@media screen and (max-width: 1199px) {
  #container {
    flex-direction: column;
    padding: 30px 50px 50px 50px;
  }
  #contentFlex {
    width: 100%;
    max-width: 600px;
  }
  #contentHeadings {
    height: fit-content;
  }
}


p {
  padding: 0;
  margin: 2px 0 4px 0;
}

.tabContent {
  position: absolute;
  top: 0;
  left: 0;
  padding: 3px;
}

/*HEADER STYLING*/
h2 {
  font-weight: 200;
  font-size: 82pt;
  margin: 0;
  margin-block-end: 20px;
}

@media screen and (max-width: 1199px) {
  h2 {
    font-size: 62pt;
    margin-block-end: 0px;
  }
}

@media screen and (max-width: 720px) {
  h2 {
    font-size: 52pt;
  }
  #container {
    padding: 10px 30px 30px 30px;
  }
}

h3 {
  margin: 0 0 5px 0;
  font-weight: 400;
  font-size: 18pt;
}

#contactI {
  margin: 0 0 20px 0;
  font-weight: 200;
}

/*TABS STYLING*/
/*TOP TABS*/
#tabsTitles {
  display: flex;
  gap: 2px;
  height: fit-content;
}

.nameTitle {
  background-color: rgba(255, 255, 255, 1);
  color: black;
  padding: 2px 5px 2px 5px;
  min-width: 10px;
  border: 1px solid rgba(255, 255, 255, 0);
  height: fit-content;
}

.nameTitle:hover {
  background-color:  rgba(255, 255, 255, 0);
  color: white;
  border: 1px solid rgba(255, 255, 255, 1);
}

/*CONTENT TABS*/
.tabContent {
  height: 0;
  overflow-x: hidden;
  overflow-y: scroll;
  background-color: rgba(255, 255, 255, 0.1);
  display: none;
}



#graphicDesignerContent, #artistContent {
  background-color: rgba(255, 255, 255, 0.65);
  width: 100%;
  padding: 40px 0 40px 0;
}

#artistContent {
  padding: 40px;
}

@media screen and (max-width: 520px) {
  #graphicDesignerContent {
    padding: 20px 0 20px 0;
  }
  #artistContent {
    padding: 20px;
  }
}

#graphicDesignerContent > p {
  padding: 0 40px 0 40px;
}

.center {
  margin-left: auto;
  margin-right: auto;
  width: fit-content;
}

/*videos*/
iframe {
  display: block;
  border: none;
  width: 100% !important;
  height: 100%;
  margin: 0 0 40px 0;
}

.iframeContainer {
  position: relative;
  width: 100%;
  padding-bottom: 56.25%; /* 16:9 aspect ratio */
  height: 0;
  overflow: hidden;
  margin: 40px 0 40px 0;
}

.iframeContainer iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100% !important;
  height: 100% !important;
}

div.reel {
  padding-top: 20px;
}

iframe.reel {
  max-width: 100%;
  height: calc(100% - 6px) !important;
  max-height: 100%;
}



@media screen and (max-width: 1400px) {
  div.reel > div > iframe {
    width: 100% !important;
    height: 281px !important;
    max-width: 100%;
  }
}

.borderStyle {
  border: 1px white solid !important;
}

.videoTitle {
  padding: 40px 0 10px 0;
  width: 100%;
  margin: auto;
}

.paddingsmall {
  padding-top: 20px !important;
  margin-top: 0;
}


/*Image formatting*/
#swcImageFrame {
  display: flex;
  flex-wrap: wrap;
  gap: 50px 0px;
  margin-bottom: 20px;
}

img {
  box-shadow: 20px 20px 40px rgba(0, 0, 0, 0.1);

}

.graphicDesignImage {
  width: 45%;
  max-width: 100%;
  object-fit: contain;
  display: inline-block;
  flex-grow: 1;
}

.graphicDesignImage > img, .graphicDesignImage > div > img, .graphicDesignImage > video {
  max-width: 100%;
}

.graphicDesignImage > video {
  max-width: 230px;
}

.graphicDesignImage > video.large {
  max-width: 100%;
}

.eventTitle, .projectTitle {
  color: black;
}

.contentFrame {
  display: flex;
  justify-content: space-around;
  flex-grow: 1;
  gap: 20px;
  width: calc(100% - 80px);
  margin: auto;
  font-family: "Space Grotesk", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  color: white;
}

.noGrow {
  flex-grow: unset;
}

@media screen and (max-width: 1280px) {
  .noGrow {
    width: 40%;
  }
}

#eventposters {
  display: none;
  border: 1px solid white;
}

.projectAbout {
  padding: 80px 0 0 0;
  width: calc(100% - 80px);
  margin: auto;
  font-family: "Space Grotesk", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  color: black;
}

@media screen and (max-width: 700px) {
  .projectAbout {
    padding: 20px 0 0 0;
  }
}

@media screen and (max-width: 520px) {
  .projectAbout {
    padding: 20px 0 0 0;
  }
}

.smaller {
  max-width: 500px;
}

.nopaddingtop {
  padding-top: 0;
  margin-top: 0;
}

.nopaddingbot {
  padding-bottom: 0;
  margin-bottom: 0;
}

/* Scroll bars */
/* width */
::-webkit-scrollbar {
  width: 5px;
  height: 0px;
}

/* Track */
::-webkit-scrollbar-track {
  display: none;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.5); 
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgb(255, 120, 100); 
}